<a href="https://colab.research.google.com/github/jsjj10002/Deep-learning-study/blob/main/ch2example.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
x=100
print(x)

100

In [ ]:
x=100
print(x)
x=200
print(x)

100
200

In [ ]:
x=100
y=1200
sum = x+y
name = "홍길동"
address = " 서울시 종로구 1번지"

In [ ]:
print(x);print(y);print(sum)

100
1200
1300

In [ ]:
print(name)
print(address)

홍길동
 서울시 종로구 1번지

In [ ]:
A=17
type(A)

<class 'int'>
<class 'float'>
<class 'str'>

In [ ]:
print(type(17.5))
B='python'
print(type(B))

In [ ]:
type(A)

int

In [ ]:
type(B)

str

In [ ]:
type(17.5)

float

In [ ]:
type([1,2,3,4])

list

In [ ]:
a=True ;type(a)

bool

In [ ]:
a=bool(1);type(a)

bool

In [ ]:
type(int(a))

int

In [ ]:
x= int(input("input first real number"))
y= int(input("input second real number"))
sum=x+y;print("x+y=",sum)

input first real number100
input second real number200
x+y= 300

In [ ]:
name=str(input('input your name: '))
print(name,', hello')

input your name: a
a , hello

In [ ]:
name=input("input your name:")

height=int(input("inout yuor height:"))
weight=int(input("input yuor weight:"))
bmi=weight/(height**2)
print("%s's bmi is %02f"%(name, bmi))

input your name:js
inout yuor height:177
input yuor weight:95
js's bmi is 0.003032